/*Settings
===========*/
p{
	text-align: center;
}
a{
	text-decoration: none;
	color: #000;
	transition: 0.2s;
}
a:hover{
	color: #00D3A9;
}
body {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 18px;
	background-color: #F0F0F0;
}
/*Title
===========*/
#title {
	font-size: 42px;
	text-align: center;
	font-weight: 700;
	margin-top: 30px;
	margin-bottom: 10px;
}
#subtitle {
	font-size: 22px;
	text-align: center;
	margin: 0 0 20px; 
}
/*Figure
===========*/
#img-div {
	position: relative;
	display: block;
	margin: 0 auto;
	text-align: center;
	background-color: #fff;
	width: 650px;
}
#image {
	height: auto;
	max-height: 550px;
	max-width: 100%;
	object-fit: none;
	object-position:-100px -125px;
	width: 600px;
	display: block;
	padding: 25px 0 15px;
	margin: 0 auto;
}
#img-caption {
	font-size: 20px;
	padding-bottom: 10px;
}
/*Figure
===========*/
#tribute-info {
	display: block;
	text-align: center;
}
#hedline {
	font-size: 24px;
}
ul {
	font-size: 19px;
	text-align: left;
	max-width: 600px;
	list-style: none;
	margin: 0 auto 50px auto;

}
li{
margin: 16px 0;
}