/*ШРИФТЫ*/
/* lato-regular - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'),
       url('../fonts/lato-v16-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/lato-v16-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lato-700 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'),
       url('../fonts/lato-v16-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/lato-v16-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lato-900 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: local('Lato Black'), local('Lato-Black'),
       url('../fonts/lato-v16-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/lato-v16-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/*=== 0) Основные ===*/
*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: 'Lato';
  font-style: normal;
  font-size: 16px;
  line-height: 1.2;
  font-weight: normal;
  color: #000;
}

img {
  max-width: 100%;
  height: auto;
}

.wrapper {
  max-width: 1060px;
  margin: 0 auto;
  padding: 0 15px;
}

.wrapper-full {
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 15px;
}

.section-title {
  font-weight: 700;
  font-size: 35px;
  line-height: 42px;
  color: #102746;
  position: relative;
  padding-bottom: 10px;
}

.section-title::after {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 250px;
  height: 3px;
  background-color: #006DFE;

}
/*======*/

/*=== 1) HEADER ===*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: linear .2s;
}

.header_active {
  background: #0E1D28;
  z-index: 50;
  padding-bottom: 15px;
}

.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  padding-top: 56px;
  transition: linear .2s;
}

.header__wrapper_active {
  padding-top: 15px;
}

.header__list {
  display: flex;
  flex-wrap: wrap;
}

.header__item {
  margin-right: 82px;
}

.header__item:last-child {
  margin-right: 0;
}

.header__link {
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  text-decoration: none;
  transition: linear opacity .2s;
}

.header__link:hover, .header__link:focus, .header__link:active {
  opacity: .75;
}

.header__burger {
  display: none;
  width: 30px;
  height: 20px;
  position: relative;
}

.burger__line {
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  background: #fff;
  left: 0;
}

.burger__line_first {
  top: 0;
}

.burger__line_second {
  top: 50%;
  transform: translateY(-50%);
}

.burger__line_third {
  bottom: 0;
}
/*======*/

/*=== 2) INTRO ===*/
.intro {
  min-height: 100vh;  
  background: url(../img/intro_bg.jpg) no-repeat center;
  background-size: cover;
  padding-top: 263px;  
  padding-bottom: 260px;
}

.intro__title { 
  max-width: 620px;
  font-size: 50px;
  line-height: 60px;
  color: #fff;
  font-weight: 700;
  margin-bottom: 22px;
}

.intro__subtitle {
  max-width: 546px;
  line-height: 24px;
  color: #fff;
  margin-bottom: 60px;
}

.search-form__info {
  display: flex;
  flex-wrap: wrap;
}

.search-form__field {
  width: 295px;
  background: transparent url(../img/svg/oval__form.svg) no-repeat left 7px;
  background-size: 20px;
  border: 0;
  border-bottom: 2px solid #BFC0C5;
  margin-right: 60px;
  padding-left: 45px;
  padding-bottom: 22px;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
}


.search-form__field::placeholder {
  color: #fff;
}

.search-form__submit {
  padding: 15px 40px;
  text-transform: uppercase;
  font-size: 24px;
  color: #fff;
  background: #1B7DFF;
  border: 0;
  transition: linear background .3s;
}

.search-form__submit:hover, .search-form__submit:focus, .search-form__submit:active {
  background: #0e458e;
 }
/*======*/

/*=== 3) BENEFITS ===*/
.benefits {
  margin-bottom: 130px;
}

.benefits__wrap {
  max-width: 1260px;
  background-color: #fff;
  box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
  margin: 0 auto;
  position: relative;
}

.benefits__title {
  width: 100%;
  font-size: 35px;
  line-height: 42px;
  font-weight: 700;
  color: #102746;
  padding: 95px 100px 90px 100px;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-100%);
  background-color: #fff;
}

.benefits__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 55px;
  padding: 0 100px;
}

.benefits__card {
  grid-column: span 1;
  margin-bottom: 110px;
}

.benefits__card-pic {
  min-width: 65px;
  margin-bottom: 35px;
}

.benefits__card-icon {
  display: block;
}

.benefits__card-title {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 26px;
}

.benefits__card-desc {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 40px;
}

.benefits__card-more {
  display: inline-block;
  padding-right: 60px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: #006DFE;
  text-transform: uppercase;
  text-decoration: none;
  background: url(../img/svg/arrow-right.svg) no-repeat 95% center;
  transition: background linear .3s;  
}

.benefits__card-more:hover, .benefits__card-more:focus {
  background: url(../img/svg/arrow-right.svg) no-repeat right center; 
}
/*======*/

/*=== 4) PLACES ===*/
.places {
  margin-bottom: 150px;
}

.places__caption {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 35px;
}

.places__view-all {
  font-weight: 700;
  line-height: 24px;
  color: #006DFE;
  text-transform: uppercase;
  text-decoration: none;
  padding-right: 60px;
  background: url(../img/svg/arrow-right.svg) no-repeat right center;
  transition: opacity linear .2s;  
}

.places__title {
  margin-right: 15px;
}

.places__view-all:hover {
  opacity: .7;
}

.places__cards {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
}

.places__card {
  position: relative;
  overflow: hidden;
}

.places__card:hover .places__card-img{
  transform: scale(1.05);
}

.places__card::after {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(21, 24, 36, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}

.card__size-lg {
  grid-column: span 3;
}

.card__size-sm {
  grid-column: span 2;
}

.places__card-img {
  width: 100%;
  transition: transform linear .4s;
}

.card-img__size-lg {
  height: 355px;
  object-fit: cover;
}

.card-img__size-sm {
  height: 280px;
  object-fit: cover;
}

.places__card-title {
  font-size: 50px;
  line-height: 60px;
  color: #fff;
  font-weight: 700;
  position: absolute;
  z-index: 10;
  bottom: 27px;
  left: 27px;
}

.places__card-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 15;
}
/*======*/

/*=== 5) TOUR ===*/
.tour {
  margin-bottom: 140px;
}

.tour__wrap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0 105px;
  align-items: center;
  margin-bottom: 85px;
}

.tour__wrap:last-child {
  margin-bottom: 0;
}

.tour__title {
  font-size: 30px;
  line-height: 40px;
  font-weight: 700;
  margin-bottom: 85px;
}

.tour__text {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 60px;
}

.tour__more {
  font-weight: 700;
  line-height: 24px;
  color: #006DFE;
  text-transform: uppercase;
  text-decoration: none;
  padding-right: 60px;
  background: url(../img/svg/arrow-right.svg) no-repeat right center;
  transition: opacity linear .2s;  
}

.tour__more:hover {
  opacity: .65;
}
/*======*/

/*=== 6) TODAY ===*/
.today {
  margin-bottom: 145px;
}

.today__title {
  margin-bottom: 55px;
}

.today__cards {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 55px;
}

.today__card {
  display: flex;
  flex-direction: column;
  grid-column: span 2;
}

.today__card-pic {
  position: relative;
  margin-bottom: 45px;
}

.today__card-stats {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  color: #fff;
  padding: 16px 25px;
}

.today__card-title {
  font-weight: 700;
  margin: 0 auto 0 0;
}

.today__card-likes {
  margin-right: 14px;
  padding-right: 21px;
  background: url(../img/svg/like.svg) no-repeat right;
}

.today__card-comments {
  padding-right: 23px;
  background: url(../img/svg/comm.svg) no-repeat right;
}

.today__card-text {
  font-size: 16px;
  line-height: 24px;
  color: #102746;
  margin-bottom: 45px;
}

.today__card-more {
  box-sizing: border-box;
  padding: 12px 20px;
  background: #006DFE;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  transition: linear background .3s;
  width: 118px;
  margin: auto 0 0 0;
}

.today__card-more:hover {
  background: #0e458e;
}
/*======*/

/*=== 7) VIDEOS ===*/
.videos {
  width: 100%;
}

.videos__wrapper {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
}

.video__item {
  padding-top: 56.25%;
}

.video__element {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/*======*/

/*=== 8) FOOTER ===*/
.footer {
  background: #0E1D28;
  padding: 120px 0;
}

.footer__item {
  display: flex;
  flex-wrap: wrap;
}

.footer__logo {
  width: 50%;
}

.footer__nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 50%;
}

.footer__menu-item {
  color: #fff;
  line-height: 24px;
}

.footer__menu-title {
  font-size: 18px;
  font-weight: 700;
}

.footer__menu-link {
  font-size: 16px;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  transition: linear opacity .2s;
}

.footer__menu-link:hover {
  opacity: .45;
}
/*======*/

/*=== 9) M E D I A ===*/
@media screen and (max-width: 921px) {
  .search-form__field {
    margin-bottom: 25px;
  }

  .search-form__submit {
    margin: 0 auto;
  }

  .benefits__title {
    padding: 75px 100px 75px 100px;
  }

  .tour__title {
    margin-bottom: 65px;
  }

  .tour__text {
    margin-bottom: 50px;
  }

  .footer {
    padding: 100px 0;
  }
}

@media screen and (max-width: 875px) {
  .benefits {
    margin-bottom: 10px;
  }

  .benefits__wrap {
    box-shadow: none;
  }

  .benefits__title {
    padding: 50px 60px 50px 75px;
  }

  .benefits__cards {
    grid-column-gap: 30px;
    padding: 0px 40px;
  }

  .benefits__card {
    margin-bottom: 70px;
  }

  .tour__wrap {
    grid-gap: 0 65px;
    margin-bottom: 70px;
  }

  .today__card {
    grid-column: span 3;
  }
}

@media screen and (max-width: 767px) {
  .header__burger {
    display: block;
  }

  .header__nav {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #0E1D28;
    z-index: 100;
    padding: 50px;
    text-align: center;
    transform: translateY(-100%);
    transition: linear transform .3s;
  }
  
  .header__nav-active {
    transform: translateY(0%);
  }

  .header__item {
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
  }

  .header__item:last-child {
    margin-bottom: 0;
  }

  .header__link {
    font-size: 35px;
    line-height: 40px;
  }

  .header__nav-close {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 101;
    cursor: pointer;
  }

  .header__nav-close-line {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;
    top: 50%;

  }

  .header__nav-close-line:first-child {
    transform: translateY(1000%) rotate(45deg);
  }

  .header__nav-close-line:last-child {
    transform: translateY(950%) rotate(-45deg);
  }

  .card__size-lg {
    grid-column: span 6;
  }

  .card__size-sm {
    grid-column: span 6;
  }

  .tour__title {
    font-size: 25px;
    margin-bottom: 30px;
  }

  .tour__text {
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 650px) {
  .section-title {
    font-size: 25px;
    line-height: 35px;
  }

  .intro {
    padding-top: 170px;
  }

  .intro__title {
    font-size: 35px;
    line-height: 45px;
  }

  .search-form__info {
    padding-right: 10px;
  }

  .search-form__field {
    width: 100%;
    margin-right: 0;
  }

  .benefits__card {
    grid-column: span 3;
    padding: 0px 25px;
  }
}

@media screen and (max-width: 575px) {
  .benefits__card-pic {
    margin-bottom: 20px;
  }

  .today__card {
    grid-column: span 6;
  }

  .today__card-stats {
    width: 350px;
  }

  .tour {
    margin-bottom: 90px;
  }

  .tour__pic, .tour__info {
    grid-column: span 2;
  }

  .tour__pic {
    margin-bottom: 10px;
  }

  .tour__pic:last-child {
    grid-row-start: -1;
  }
}

@media screen and (max-width: 426px) {
  .benefits__card-desc {
    margin-bottom: 20px;
  }

  .places__title {
    margin-bottom: 10px;
  } 

  .today__card-stats {
    width: 100%;
  }

  .today__title {
    margin-bottom: 30px;
  }

  .card-img__size-lg {
    height: 220px;
  }

  .card-img__size-sm {
    height: 220px;
  }

  .places__card-title {
    font-size: 35px;
    line-height: 40px;
  }

  .today__card-text {
    margin-bottom: 20px;
  s}

  .tour__title {
    margin-bottom: 15px;
  }

  .footer {
    padding: 50px 0;
  }

  .footer__logo {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  .footer__nav {
    width: 100%;
  }

@media screen and (max-width: 376px) {
  .intro__title {
    font-size: 30px;
  }

  .benefits__title {
    padding: 35px 15px;
  }

  .intro__subtitle {
    background-color: #21212166;
    padding: 6px;
    border-radius: 20px;
  }

  .section-title {
    font-size: 21px;
    line-height: 25px;
  } 
/*====================*/