/* === 0. Settings === */
*,
*:before,
*:after, {
	padding: 0;
	margin: 0;
	box-sizing: border-box
}

body {
	font-family: 'Quicksand', sans-serif;
	font-size: 15px;
	background-color: #EFFFCB;
}

h1, h2, h3, h4, h5, h6, p {
	padding: 0;
	margin: 0;
}

.container {
	width: 100%;
	max-width: 1170px;
	margin: 0 auto;
	padding: 0 15px;
}

/* === Settings === */

/* === 1. Header === */
#header {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	min-height: 80px;
	background-color: #EAFFBC;
}

.header__inner {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #515369;
	align-items: center; 
	padding-bottom: 15px;
}

.header__logo {
	display: flex;
	align-items: center; 
}

#header-img {
	width: 75px;
}

.logo__text {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 35px;
	margin-left: 30px;
}

#nav-bar {
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;

}

.nav-link {
	margin-left: 59px;
	color: #000;
	text-decoration: none;
	opacity: .75;
	
	transition: opacity .3;
}

.nav-link:last-child {
	padding-right: 20px;
}

.nav-link:first-child {
	margin-left: 0px;
}

.nav-link:hover {
	opacity: 1;
}
/* === Header === */

/* === 2. About === */
#about {
	margin-top: 120px;
}

.about__item {
	margin: 40px auto;
	max-width: 700px;
	width: 100%;
	display: flex;
	align-items: center;
}

.about-img {
	width: 50px;
}

.about-info {
	margin-left: 25px;
}

.title {
	font-size: 22px;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 15px;
}
/* === About === */

/* === 3. Price === */
#price {
	margin: 60px 0;

}

.price__inner {
	display: flex;
	justify-content: space-between;
}

.price-item {
	padding: 10px;
	width: 30%;
	text-align: center;
	border: 2px solid #000;
	height: auto;
}

.price-title {
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 10px;
	text-transform: uppercase;
}

.price-number {
	font-size: 20px;
	margin-bottom: 10px;
	background-color: green;
}

.price-btn {
	font-size: 16px;
	font-weight: 700;
	display: block;
	width: 150px;
	padding: 10px 0;
	text-align: center;
	margin: 20px auto 0;
	text-transform: uppercase;
	text-decoration: none;
	color: #000;
	background-color: #FFE120;
	transition: .1s linear;
}

.price-btn:hover {
	background-color: #FFDC00;
	border-radius: 5px;
}

.video {
	margin-top: 30px;
	display: flex;
	justify-content: center;
}

#video {
	max-width: 500px;
	width: 100%
}
/* === Price === */

/* === 4. Feedback === */
#feedback {
	margin-top: 40px;
}

.feedback-content {
	margin: 0 auto 20px;
	padding: 10px;
	text-align: center;
	max-width: 700px;
	width: 100%;
	border: 1px solid #000; 
}

.fb-title {
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 15px;
}

#form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#email {
	font-family: 'Quicksand', sans-serif;
	font-size: 16px;
	width: 200px;
}

#submit {
	display: block;
	margin-top: 25px;
	width: 150px;
	font-size: 19px;
	font-family: 'Quicksand', sans-serif;
}
/* === Feedback === */

@media (max-width: 425px ) {
	.price-item {
		width: 100%;
	}
}