/*Settings
==============*/
*,
*:before,
*:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: #000;
}

li {
	list-style: none;
	margin: 0 20px;
}

body {
	text-align: center;
	font-family: 'Red Hat Display', sans-serif;
	font-size: 16px;
	font-weight: 400;
	background: #2980b9; 
    background: -webkit-linear-gradient(to top, #2980b9, #6dd5fa, #ffffff); 
    background: linear-gradient(to top, #2980b9, #6dd5fa, #ffffff); 
    background-repeat: no-repeat;
}

/*Header
==============*/
.page {
	position: relative;
}

header {
	position: fixed;
	top: 0;
	min-height: 90px;
	padding: 0 70px 0 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%
}

.logo {
	padding-left: 200px;
}

#header-img {
	height: 70px;
	width: 70px;
}

.menu {
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	text-align: right;

}
