/* === 0. Settings === */
*,
*:before,
*:after, {
	padding: 0;
	margin: 0;
	box-sizing: border-box
}

body {
	font-family: 'Titillium Web', sans-serif;
	font-size: 17px;
	background-color: #F8F9F9;
	color: #000;
}

h1, h2, h3, h4, h5, h6, p {
	padding: 0;
	margin: 0;
}

/* === Settings === */

#navbar {
	text-align: center;
	position: fixed;
	width: 250px;
	top: 0;
	left: 0;
	border-right: solid 2px #17202A;
	border-bottom: solid 2px #17202A;
	background-color: #D6EAF8;
}

.title {
	font-size: 25px;
	font-weight: 700;
	margin: 10px 0 15px;
}

.menu-item {
	display: flex;
	flex-direction: column;
}

.nav-link {
	text-transform: uppercase;
	line-height: 2em;
	font-size: 20px;
	color: #000;
	text-decoration: none;
	border-top: solid 1px #17202A;
	transition: .2s linear;
}

.nav-link:hover {
	background-color: #5DADE2;
}

#main-doc {
	overflow: auto;
	position: absolute;
	margin-left: 270px;
}

.main-section {
	padding-right: 20px;
	margin-bottom: 25px;
}

p {
	margin-bottom: 7px;
}

code {
	background-color: #B3B6B7 ;
	display: block;
	text-align: left;
	position: relative;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.2;
	margin: 10px;
	padding: 7px;
	border-radius: 5px;
	margin-right: 10px;
}

@media (max-width: 320px) {
	#navbar {
		display: none;
	}
}