/*SETTINGS
==============*/
body {
	text-align: center;
	background-color: #67FF7C;
	font-family: 'Poiret One', cursive;
	font-size: 22px;
}

p {
	margin: 0 auto;
}

/*TITLE
==============*/
#title {
	color: #000;
	transition: .2s linear;
}

#title:hover {
	color: #4C4C4C;
	cursor: pointer;
}

/*FORM
==============*/
.form__outer {
	background-color: #fff;
	margin: 0 auto;
	max-width: 1000px;
	border-radius: 6px;
	padding: 15px 10px;
	width: 80%;
}

#description {
	font-weight: 700;
}

.row__name {
	display: inline-block;
	text-align: right;
	width: 35%;
	vertical-align: top;
	margin-top: 10px;
	padding: 5px;
}

.row__info {
	display: inline-block;
 	text-align: left;
 	width: 50%;
 	vertical-align: middle;
}

.input__field {
	height: 22px;
	width: 300px;
	padding: 5px;
	margin: 10px;
	border: 1px solid #000;
	border-radius: 3px;
	outline: none;
	font-family: 'Poiret One', cursive;
	font-size: 16px;
	font-weight: 700;
}

/*font-family: 'Poiret One', cursive;*/