/*SETTINGS
==============*/
body {
	text-align: center;
	background-color: #67FF7C;
	font-family: 'Poiret One', cursive;
	font-size: 22px;
	font-weight: bold;
}

p {
	margin: 0 auto;
}

/*TITLE
==============*/
#title {
	color: #000;
	transition: .2s linear;
}

#title:hover {
	color: #4C4C4C;
	cursor: pointer;
}

/*FORM
==============*/
.form__outer {
	background-color: #fff;
	margin: 0 auto;
	max-width: 1000px;
	border-radius: 6px;
	padding: 15px 10px;
	width: 80%;
}

#description {
	font-size: 24px;
	font-weight: 700;
	margin-bottom: 15px;
}

.row__name {
	display: inline-block;
	text-align: right;
	width: 42%;
	vertical-align: top;
	margin-top: 10px;
	padding: 5px;
}

.row__info {
	display: inline-block;
 	text-align: left;
 	width: 40%;
 	vertical-align: middle;
}

.input__field {
	height: 24px;
	width: 270px;
	padding: 5px;
	margin: 11px;
	border: 1px solid #000;
	border-radius: 3px;
	outline: none;
	font-family: 'Poiret One', cursive;
	font-size: 18px;
	font-weight: 700;
}

.dropdown {
	height: 38px;
	width: 200px;
	padding: 5px;
	margin: 11px;
	border: 1px solid #000;
	border-radius: 3px;
	outline: none;
	font-family: 'Poiret One', cursive;
	font-size: 18px;
	font-weight: 700;
	color: #000;
	cursor: pointer;
}

.radio, .checkbox {
	position: relative;
	left: -45px;
	margin-left: 10px;
	padding-bottom: 10px;
	display: block;
	font-size: 15px;
}

.gvs{
	float: left;
	margin-right: 5px;
}
button {
	background-color: #1D8348;
	color: white;
	font-size: 22px;
	font-family: 'Poiret One', cursive;
	text-transform: uppercase;
	border-radius: 6px;
	border: 0px solid;
	height: 40px;
	width: 150px;
	margin: 15px 10px;
	transition: .3s linear;
}

button:hover {
	cursor: pointer;
	background-color: #186A3B;
}
/*font-family: 'Poiret One', cursive;*/